@import "../../styles/global.scss";

.project-container {
  display: flex;
  height: 38rem;
  width: 100%;
  // padding: 2rem;
  margin-left: 0rem;
  background-color: $primaryColor;
  color: $primaryTextColor;
  align-content: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-top: 2rem;
  .carousel.slide {
    margin: 4rem 3rem;
    text-align: center;
    align-self: center;
    padding: 1rem;
    padding-bottom: 0;
  }
}
.carousel-item {
  display: flex;
  height: 30rem;
  .carousel-caption {
    margin-right: 15rem;
    align-self: center;
    .caption-title {
      text-align: center;
    }
  }
}
.carousel-inner {
  margin: 2rem 6rem;
}

.project1 {
  display: block;
  width: 40rem;
  color: $textColor;
  height: 25rem;
  padding: 2rem;
  padding-bottom: 8rem;
}
.project2 {
  display: block;
  width: 40rem;
  color: $textColor;
  height: 25rem;
  padding: 2rem;
  padding-bottom: 8rem;
}
.project3 {
  display: block;
  width: 40rem;
  color: $textColor;
  height: 25rem;
  padding: 2rem;
  padding-bottom: 8rem;
}
h3 {
  padding-left: 2rem;
  padding-top: 2rem;
}
