@import "../../styles/global.scss";

.project-container {
  min-height: 45rem;
  min-width: 100%;
  box-sizing: border-box;
  background-color: $primaryColor;
  color: $primaryTextColor;
  align-content: center;
  border-top: 2px solid $secondaryTextColor;
  border-bottom: 2px solid $secondaryTextColor;
  padding-top: 2rem;
  position: relative;
  .carousel.slide {
    position:absolute;
    display: block;
    margin: 2rem 3rem;
    align-content: center;
    text-align: center;
    margin-left: 15rem;

  }
}
.carousel-item {
  display: flex;
  height: 30rem;
  .carousel-caption {
    margin-right: 10rem;
    align-self: center;
    .caption-title {
      text-align: center;
    }
  }
}
.carousel-inner {
  margin: 2rem 6rem;
}

.project1 {
  display: block;
  width: 40rem;
  color: $textColor;
  height: 25rem;
  padding: 2rem;
  padding-bottom: 8rem;
}
.project2 {
  display: block;
  width: 40rem;
  color: $textColor;
  height: 25rem;
  padding: 2rem;
  padding-bottom: 8rem;
}
.project3 {
  display: block;
  width: 40rem;
  color: $textColor;
  height: 25rem;
  padding: 2rem;
  padding-bottom: 8rem;
}
h3 {
  padding-left: 2rem;
  padding-top: 2rem;
}
