@import "../../styles/global.scss";

@mixin projects {
}

.project-container {
  display: flex;
  height: 30rem;
  width: 100%;
  padding: 0 rem;
  margin-left: 0rem;
  background-color: $primaryColor;
  color: $textColor;
  .slide {
    margin: 0;
    // margin-top: 20vh;
  }
}

.carousel-item {
  display: flex;
  height: 30rem;
}
.carousel-inner {
  margin-left: 6rem;
  margin-right: 6rem;
}
.carousel-caption {
  padding: 2rem;
  margin-right: 10rem;
}
.mobile-app {
  padding-top: 4rem;
}

.project1 {
  display: block;
  width: 20rem;
  color: $textColor;
  height: 20rem;
  padding: 2rem;
  padding-bottom: 8rem;
}
.project2 {
  display: block;
  width: 40rem;
  color: $textColor;
  height: 25rem;
  padding: 2rem;
  padding-bottom: 8rem;

}
.project3 {
  display: block;
  width: 40rem;
  color: $textColor;
  height: 25rem;
  padding: 2rem;
  padding-bottom: 8rem;

}
h3 {
  padding-left: 2rem;
  padding-top: 2rem;
}
