
// Widescreens
@include mediaXL {
}
//Desctops & laptops
@include mediaLg {
}
// tablets & small Laptops
@include mediaMd {
  body {
    align-items: center;
    text-align: center;
    margin-left: auto;

    .home-container {
      text-align: center;
      padding-left: 2rem;
      &.h4 {
        text-align: center;
      }

      .me-name {
        margin-top: 0;
        padding-left: 0;
      }
    }
    .profile-wrap {
      flex-direction: column;
      margin-top: auto;
      .Image {
        height: 20rem;
        width: 20rem;
        padding: 2rem;
      }
      .connect-wrap {
        float: none;
        margin-top: 0;
        padding: 2rem;
        width: 100%;
        min-height: 0;
      }
    }
    .project-container {
      display: block;
      height: 40rem;
      padding-top: 1rem;

      .carousel.slide {
        margin: 3rem;
        padding: 0;
        .carousel-indicators {
          padding: 0;
          margin-right: 0;
        }
        .carousel-inner {
          margin: 0;
          .carousel-item {
            padding-bottom: 3rem;
            .project1 {
              display: block;
              width: 25rem;
              color: $textColor;
              height: 20rem;
              padding-right: 3rem;
              padding-left: 1rem;
            }
            .project2 {
              display: block;
              width: 25rem;
              color: $textColor;
              height: 20rem;
              padding-right: 3rem;
              padding-left: 1rem;
            }
            .project3 {
              display: block;
              width: 25rem;
              color: $textColor;
              height: 20rem;
              padding-right: 3rem;
              padding-left: 1rem;
            }
            .carousel-caption {
              padding-top: 15px;
              padding: 0;
              margin-right: 0;
              padding-right: 3rem;
              h4 {
                padding-left: 0.5rem;
                text-align: center;
              }
            }
          }
        }
      }
    }
    .contact-wrap {
      h4 {
        text-align: start;
      }
      .wrap {
        width: auto;
        align-content: flex-start;
        padding-left: 2rem;
      }
      form {
        width: fit-content;
      }
    }
    .container {
      align-content: left;
      canvas {
        z-index: 2rem;
        margin-top: 3rem;
        margin-left: 0;
        border-radius: 1rem;
        border: 1px solid darkgray;
      }
    }
  }

  // Smartphones
  @include mediaSm {
    body {
      align-items: center;
      text-align: center;
      .header {
        .navbar {
          padding-top: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
      .menu-btn{
        display: block;
      }
      .me-name {
        padding-top: 2rem;
        text-align: center;
        
      }
      }
      .home-container{
        padding: 0;
      }
      .profile-wrap{
        padding: 0;
        .Image{
          margin-left: 2rem
        }
      }
      .contact-wrap{

        .icons-container {
          
          .icons-wrap{
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 680px;
            margin-left: 4rem
            
          }
        }
      }
      .contact-wrap{
        .wrap{
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
