@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");

$headings-font-family: "Inconsolata", monospace;
$headings-font-weight: 700;
$primaryColor: #393f4d; 
$secondaryColor: black;
$textColor: white;
$formBackgroundColor: #d4d4dc;

// $font-family-base: "Libre Baskerville", serif;
:root {
  --nav-primary-color: rgb(166, 226, 166);
  --nav-text-color: Black;
  --nav-a-hov-color: Blue;
}
// responsive size

// @function set-size($width){
//   @if(device === mobile) {
//     @return 
//   }
// }
