@import "../../styles/global.scss";

.title-text {
  color: #393f4d;
  padding-top: 0rem;
}
.me-name {
  padding-top: -4rem;
  margin-top: -4rem;
}
.About-intro {
  padding-left: 2rem;
  margin-top: 0.5rem;
  text-align: left;
}
.home-container {
  // padding-top: 0rem;
  text-align: center;
  min-height: 100vh;
  margin: auto;
}
.profile-wrap {
  display: flex;
  margin-top: -4rem;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  padding-top: 0rem;
}

.Image {
  border-style: round;
  border-radius: 50%;
  height: 30rem;
  width: 30rem;
  padding: 5rem;
}
.connect-wrap {
  margin-top: 5rem;
  display: inline-block;
  padding: 4rem;
  background-color: #393f4d;
  color: white;
}
.linkedin {
  width: 3rem;
  height: 3rem;
  padding-right: 1rem;
}
.github {
  width: 3rem;
  height: 3rem;
  padding-left: 1rem;
}
.skills span {
  border: 1px solid lightblue;
  border-radius: 5px;
  margin: 8px;
  background: white;
  color: #393f4d;
  padding: 3px 5px;
  display: inline-block;
}
