@import "../../styles/global.scss";

h5 {
  color: #393f4d;
}
// h3 {
//   padding-top: -4rem;
// }
.About-intro {
  padding-left: 2rem;
  margin-top: 0.5rem;
  text-align: left;
}
.home-container {
  // padding-top: 0rem;
  text-align: center;
}
.profile-wrap {
  display: flex;
  margin-top: -3rem;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  padding-top: 0rem;
}

.Image {
  border-style: round;
  border-radius: 50%;
  height: 30rem;
  width: 30rem;
  padding: 5rem;
}
.connect-wrap {
  margin-top: 5rem;
  display: inline-block;
  height: 20rem;
  padding: 4rem;
  background-color: #393f4d;
  color: white;
}
.linkedin {
  width: 3rem;
  height: 3rem;
  padding-right: 1rem;
}
.github {
  width: 3rem;
  height: 3rem;
  padding-left: 1rem;
}
