@import "../../styles/global.scss";

Form {
  padding-top: 5rem;
  padding-left: 6rem;
  background-color: $formBackgroundColor;
  margin-top: 2rem;
  width: 200%;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
}
.contact-wrap {
  display: flex;
  justify-content: center;
  width: auto;
}
.wrap {
  padding-left: 4rem;
  padding-top: 3rem;
}

.link {
  color: $secondaryColor;
  &:hover {
    color: $secondaryTextColor;
  }
}

.linkedin {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  margin-left: auto;
}
.github {
  width: 3rem;
  height: 3rem;
  margin-left: 3rem;
  margin-right: 2rem;
}
.email {
  width: 3rem;
  height: 2rem;
  margin-left: 3rem;
}
.icons-wrap {
  display: inline-block;
  justify-content: space-between;
  margin: 2rem auto;
  border: 1px solid;
  border-radius: 1rem;
  padding: 2rem 3rem;
  // margin-top: 3rem
  // background-color: lighten($primaryColor, 30%);
}
// h5 {
//   padding-bottom: 1rem;
//   padding-top: 3rem;
//   // align-self: center;
// }
.icons-container {
  align-content: center;
  h5 {
    padding: 2rem;
  }
}
