@import "~bootstrap/scss/bootstrap.scss";
@import "../../styles/global.scss";

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 4rem 8rem;
  padding-bottom: 0.5em;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  // border-bottom: 1px solid;
  color: var(--nav-text-color);
}

a {
  color: var(--nav-text-color);
}
a:hover {
  color: var(--nav-a-hover-color);
}
// .hr {
//   border-top-color: "black";
//   border-top-width:1;
//   margin-inline-start: 500;
// }