// @import "~bootstrap/scss/bootstrap";
@import "./styles/global.scss";

.App {
  text-align: center;
}
.main-container {
  width: 100%;
}
.header {
  min-height: 30vh;
  background-color: $primaryColor;
  align-content: flex-end;
  width: 100%;
  border-bottom: 4px solid $secondaryTextColor;
  box-sizing: border-box;
}
.me-name {
  text-align: center;
  color: $primaryTextColor;
}
h5 {
  color: $primaryTextColor;
  text-align: center;
  padding-bottom: 2rem;
}

.footer {
  border-top: 4px solid $secondaryTextColor;
  padding-top: 2rem;
  background-color: $primaryColor;
  color: $textColor;
  text-align: center;
  width: 100%;
  min-height: 5rem;
}
