// @import "~bootstrap/scss/bootstrap";
@import "./styles/global.scss";

.App {
  text-align: center;
}
  .header {
    min-height: 28vh;
    background-color: $primaryColor;
    align-content: flex-end;
    width: 100%;
  }

  .footer {
    padding-top: 2rem;
    background-color: $primaryColor;
    color: $textColor;
    text-align: center;
    width: 100%;
    min-height: 5rem;
  }

