// @import "~bootstrap/scss/bootstrap";
@import "./styles/global.scss";

.App {
  text-align: center;
  .header {
    min-height: 28vh;
    background-color: #393f4d;
    align-content: flex-end;
    width: 100%;
  }
  @media (max-width: 50rem) {
    // display: block;
  }
  footer {
    padding-top: 2rem;
    background-color: $primaryColor;
    color: $textColor;
    text-align: center;
  }
}
